<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="controller_plugin_gazebo">
    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <controlPeriod>0.001</controlPeriod>
        <legacyModeNS>false</legacyModeNS>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
