<launch>

    <!-- Arguments and Parameters -->
    <!-- ******************************************************************************** -->
    <arg name="world_name"      default="$(find usecase_gazebo)/worlds/usecase_simplified.world"/>
    <arg name="paused"          default="true" doc="Starts gazebo in paused mode"/>
    <arg name="gui"             default="true" doc="Starts gazebo gui"/>
    
    <arg name="robot_name"      default="robot" />
    
    <arg name="pose_x"          default="6" />      
    <arg name="pose_y"          default="6.6" />    
    <arg name="pose_z"          default="0.84" />   
    <arg name="pose_yaw"        default="1.5708" />

    <!-- <arg name="pose_x"          default="9.5" />   
    <arg name="pose_y"          default="11" />    
    <arg name="pose_z"          default="0.6" />   
    <arg name="pose_yaw"        default="-1.5708" /> -->
    
    <arg name="joint_limited"   default="true" doc="If true, limits joint range [-PI, PI] on all joints."/>
    <arg name="sim"             default="false" doc="If true, bring up the fake depth camera."/>
    <arg name="gripper"         default="1" doc="Spawn gripper or not. 0 - no, 1 - yes"/>
    <!-- ******************************************************************************** -->



    <!-- Gazebo node -->
    <!-- ******************************************************************************** -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name"  value="$(arg world_name)"/>
        <arg name="paused"      value="$(arg paused)"/>
        <arg name="gui"         value="$(arg gui)"/>
    </include>
    <!-- ******************************************************************************** -->



    <!-- manipulator -->
    <!-- ******************************************************************************** -->
    <include file="$(find manipulator_gazebo)/launch/manipulator_gazebo.launch">
        <arg name="robot_name"      value="$(arg robot_name)" />
        <arg name="pose_x"          value="$(arg pose_x)" />
        <arg name="pose_y"          value="$(arg pose_y)" />
        <arg name="pose_z"          value="$(arg pose_z)" />
        <arg name="pose_yaw"        value="$(arg pose_yaw)" />
        <arg name="joint_limited"   value="$(arg joint_limited)"/>
        <arg name="sim"             value="$(arg sim)"/>
        <arg name="gripper"         value="$(arg gripper)"/>
    </include>
    <!-- ******************************************************************************** -->

</launch>
