<launch>

    <!-- Arguments and Parameters -->
    <!-- ******************************************************************************** -->
    <arg name="joint_limited"   default="true"      doc="If true, limits joint range [-PI, PI] on all joints."/>
    <arg name="sim"             default="false"     doc="If true, bring up the fake depth camera."/>
    <arg name="gripper"         default="1"         doc="Spawn gripper or not. 0 - no, 1 - yes"/>
    <arg name="debug"           default="false" />
    <arg name="open_rviz"       default="true" />
    <!-- ******************************************************************************** -->



    <!-- Joint names -->
    <!-- ******************************************************************************** -->
    <rosparam command="load" file="$(find manipulator_moveit_config)/config/joint_names.yaml"/>
    <!-- ******************************************************************************** -->

    

    <!-- Move Group -->
    <!-- ******************************************************************************** -->
    <include file="$(find manipulator_moveit_config)/launch/move_group.launch">
        <!-- <arg name="publish_monitored_planning_scene" value="true" /> -->
        <arg name="joint_limited"   value="$(arg joint_limited)"/>
        <arg name="sim"             value="$(arg sim)"/>
        <arg name="gripper"         value="$(arg gripper)"/>
        <arg name="debug"           default="$(arg debug)" />
    </include>
    <!-- ******************************************************************************** -->



    <!-- Moveit -->
    <!-- ******************************************************************************** -->
    <group if="$(arg open_rviz)"> 
        <include file="$(find manipulator_moveit_config)/launch/moveit_rviz.launch">
            <arg name="rviz_config"     value="true" />
        </include>
    </group>
    <!-- ******************************************************************************** -->

</launch>
