<?xml version="1.0" ?>
<model>
    <name>usecase_simplified</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Vu Hoi HUYNH</name>
        <email>vuhoi.huynh@gmail.com</email>
    </author>
    <description>The simplified usecase world</description>
</model>
