<launch>

    <!-- Arguments -->
    <!-- ******************************************************************************** -->
	<arg name="gui" default="true" />
    <!-- ******************************************************************************** -->



	<!-- load MiR URDF -->
    <!-- ******************************************************************************** -->
	<include file="$(find mir_description)/launch/upload_mir_urdf.launch" >
		<arg name="only_multi"  value="true" />
		<arg name="prefix"      value="" />
		<arg name="tf_prefix"   value="" />
	</include>
    <!-- ******************************************************************************** -->



    <!-- joint_state_publisher -->
    <!-- ******************************************************************************** -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="$(arg gui)"/>
	</node>
    <!-- ******************************************************************************** -->



	<!-- robot_state_publisher -->
    <!-- ******************************************************************************** -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <!-- ******************************************************************************** -->


	
	<!-- rviz -->
    <!-- ******************************************************************************** -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find mir_description)/rviz/mir_description.rviz" required="true" />
    <!-- ******************************************************************************** -->

</launch>
