<launch>
    <!-- Arguments -->
    <!-- ******************************************************************************** -->
    <arg name="open_rviz" default="true"/>
    <!-- ******************************************************************************** -->



    <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
    <!-- ******************************************************************************** -->
    <include file="$(find mir_slam)/launch/mir_hector_mapping.launch"/>
    <!-- ******************************************************************************** -->



    <!-- move_base -->
    <!-- ******************************************************************************** -->
    <include file="$(find mir_navigation)/launch/mir_move_base.launch"/>
    <!-- ******************************************************************************** -->



    <!-- rviz -->
    <!-- ******************************************************************************** -->
    <group if="$(arg open_rviz)"> 
        <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find mir_navigation)/rviz/mir_navigation.rviz"/>
    </group>
    <!-- ******************************************************************************** -->
    
</launch>
